html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
  padding: 20px 50px;
  font-family: serif
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.main {
  padding: 180px 0 110px 0;
  text-align: center;
  background-size: cover; 
  background-image: url(d.jpg);
}

.main h1 { 
  opacity: 0.6;
  letter-spacing: 5px;
  color: white;
  font-family: serif;
}
.main h2 {
  opacity: 0.7;
  color:  white;
  font-family: serif;
}
.btn-wrapper {
  margin: 60px 0;
}
.signup {
  background-color: lavender;
  font-family: serif;
  color: black;
}
.membersignup {
  background-color: aquamarine;
  font-family: serif;
  color: black;
}
.btn {
  display: inline-block;
  padding: 8px 30px;
  margin-right: 20px;
  opacity: 0.8;
  border-radius: 5px;  
}
.btn:hover {
  opacity: 10;
}
header {
  height: 65px;
  width: 100%;
  background-color: floralwhite; 
}
.header-logo {
  
  font-family: serif;
  font-size: 50px;
  float: left;
  display: block;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-list li {
  float: left;
}
.lesson-wrapper {
  height: 880px;
  background-color:ghostwhite;
  
}
.lesson1 {
  width: 50%;
  padding: 30px 20px;
  letter-spacing: 10px;

}
.lesson1 img {
  width: 80%;
  float: left;
  padding-top: 30px;
}
.lesson2{
  width: 50%;
  padding: 30px 20px;
  letter-spacing: 10px;
  float: right;
}
.lesson2 img {
  width: 80%;
  float: left;
  padding-top: 30px;
}
footer {
  height: 70px;
  background-color: antiquewhite;
  padding: 40px
}
.footer-logo{
  font-family: serif;
  float: left;
  font-size: 32px;
  padding: 10px 10px;
  display: block;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding: 5px 10px;
  font-size: 15px;
}



